@model pandemieAndroid2.Models.Achizitie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Achizitie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Membru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Membru.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vaccin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vaccin.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantitate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantitate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_achizitie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_achizitie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
